*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* // This defines what 1rem is */
    font-size: 125%; /* //1 rem = 20px; 20px/16px = 125% */

    @media (--tab-land-viewport) {
        font-size: 112.5%; /* //1 rem = 18px, 18/16 = 112.5% */
    }

    @media (--tab-port-viewport) { /* // width < 900? */
        font-size: 100%; /* //1 rem = 16px */
    }
}

body {
    box-sizing: border-box;

    @media (--tab-port-viewport) {
        padding: 0;
    }
}
