:root {
  /*
  * Colors
  */
  --color-primary: #37475A
  --color-primary-dark-1: #232f3e;
  --color-primary-dark-2: #131921;

  --color-secondary: #F90;

  --brand: #2995c0;

  --color-grey-light-1: #ededed;
  --color-grey-light-2: #dadada;
  --color-grey-light-3: #919191;

  --color-grey-dark: #474747;

  --success: #2a7e2e;
  --atenttion: #2196f3;
  --wait: #fff8dd;
  --error: #d92525;
  
  --white: #fff;
  --black: #00000;
   
  --color-type-body: var(--grey-1);
  --header-background: var(--color-primary-dark-2);

  /*
  * Fonts
  */
  --base-font-family: sans-serif;
  --headers-font-family: serif;
  --base-font-lineheight: 1.5em;
}

