:root {
  /*
  * Colors
  */
  --color-primary: #37475A
  --color-primary-dark-1: #232f3e;
  --color-primary-dark-2: #131921;

  --color-secondary: #F90;
  --color-secondary-light-1: #f0c14b;
  --color-secondary-light-2: #f1d388;
 
  --brand: #2995c0;

  --color-grey-light-1: #efebeb;
  --color-grey-light-2: #dadada;
  --color-grey-light-3: #919191;

  --color-grey-dark: #474747;

  --success: #2a7e2e;
  --atenttion: #2196f3;
  --wait: #fff8dd;
  --error: #d92525;
  
  --white: #fff;
  --black: #000;
   
  --color-type-body: var(--grey-1);
  --header-background: var(--color-primary-dark-2);
  --body-background: var(--color-grey-light-1);
  --button-background: var(--color-secondary-light-1);
  --input-login-background: var(--color-secondary-light-2);
  --link-button-background: var(--color-grey-light-1);
  /*
  * Fonts
  */
  --base-font-family: sans-serif;
  --headers-font-family: serif;
  --base-font-lineheight: 1.5em;

  /* Grid */
  --grid-width: 1140px;
  --gutter-vertical: 2.5rem;
  --gutter-vertical-small: 1.875rem;
  --gutter-horizontal: 2rem;
}

