@import '../../_settings/_variables.css';

.link:link, .link:visited {
  font-size: 0.9rem;
  display: inline-block;
  transition: all .3s;
  text-decoration: none;
}

/* Size */
.small {
  padding: 0.2rem 0.4rem;
}

.medium {
  padding: 1rem 1.1rem;
}

.large {
  padding: 1.2rem 1.3rem;
}

/* Width */
.full {
  width: 100%
}

/* Theme */
.default {
 
}

.button {
  /* background-color: var(--link-button-background); */
  /* background: linear-gradient(to bottom, #f7f8fa,#e7e9ec);
  linear-gradient(to bottom,#e7eaf0,#d9dce1) */
  color: var(--black);
  border: 1px solid var(--color-grey-light-2);
  border-radius: 3px;
  text-align: center;

  &:hover, &:active {
    background: linear-gradient(to bottom, var(--color-grey-light-1), var(--color-grey-light-2))
  }
}