@import '../../_settings/_variables.css';

.button {
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  display: block;
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

/* Size */
.small {
  padding: 0.4rem 0.5rem;
}

.medium {
  padding: 1rem 1.1rem;
}

.large {
  padding: 1.2rem 1.3rem;
}

/* Theme */
.default {
  color: #fff;
  background: var(--brand);
}

.rounded {
  color: #fff;
  background: var(--brand);
  border-radius: 0 3px 3px 0;
}

/* Disabled */
.disabled {
  color: var(--grey-2);
  cursor: default;
}
