@import '../../_settings/_variables.css';

.button {
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  display: block;
  font-size: 0.9em;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

/* Size */
.small {
  padding: 0.2rem 0.4rem;
}

.medium {
  padding: 1rem 1.1rem;
}

.large {
  padding: 1.2rem 1.3rem;
}

/* Width */

.full {
  width: 100%
}

/* Theme */
.default {
  color: #fff;
  background-color: var(--brand);
}

.rounded {
  color: #fff;
  background-color: var(--brand);
  border-radius: 0 3px 3px 0;
}

.product {
  font-weight: 300;
  color: var(--black);
  background-color: var(--button-background);
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 3px;
}

/* Disabled */
.disabled {
  color: var(--grey-2);
  cursor: default;
}
