@import '../../_settings/_variables.css';

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    max-width: var(--grid-width);
    margin: 0 auto;

    & > .item {
        width: 300px;
    }
}